.box {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.fit {
    width: 80%;
    height: 80%;
}